# Virtual Environment
detection_ml/
venv/
.env/

#csv files
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Logs
*.log